@import 
    "components/reset.scss",
    "components/variables.scss",
    "components/body.scss"
;

.title { 
    margin-top: 157px; 
    font-size: 69px }

.subtitle { 
    display: flex;
    
    h2 { 
        padding-top: 0;
        font-size: 210px }
}

.background-default { 
    background-color: $brand-primary; 
    border: none;
}

.form-box {
    margin-top: 10px;

    .position-default {
        margin-left: -32px;
        padding-right: 20px;
    }

    .height-default { height: $block-height }

    .labels {
        position: absolute;
        top: -30px;
    }

    #box-change-three {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $brand-primary;

        &:hover,
        &:visited,
        &:focus { background-color: $brand-primary }
    }
}

.result-header {
    margin-top: 60px;
    
    .result-header-content {
        display: flex;
        align-items: center;

        .result-header-title {
            h1 { font-size: 55.61px }
            p { font-size: 157.57px }
        }
    }
}

#message { 
    padding: 50px 0;
    background-color: $brand-dark;
    font-weight: bolder;

    h2 {
        font-size: 39.18px;
    }
}

#show-tables {
    margin: 50px 0 100px 0;

    button {
        border-radius: 0;
        background-color: $brand-secondary;
        font-size: 25.57px;
        line-height: 1.2;
        padding: 20px 30px;
    }
}

#tables { 
    margin-bottom: 110px; 
    
    h3 { 
        margin-bottom: 10px; 
        
        span { font-size: 15px }
    }

    .tables-content { background-color: $brand-primary }

    .middle-column { padding: 0 20px }
}

.list {
    li { 
        padding: 10px 20px; 
        
        p { font-size: 16px }
    }

    li:nth-child(even) {
        background-color: $brand-dark;
    }
}